body {
	background-color: #000000;
}

.background {
	min-height: 100vh;
	background-image: url("../images/startGameBackground.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.backgroundL {
	min-height: 100vh;
	background-image: url("../images/lightSideBackground.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.backgroundD {
	min-height: 100vh;
	background-image: url("../images/darkSideBackground.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.characterPool {
	display: flex;
}

.character {
	margin: 5px;
	flex: 1;
}

.battleground {
	display: flex;
	justify-content: space-around;
	min-width: 100vw;
}

.mainChar {/*
	flex: 1;*/
	/*align-self: flex-start;
*/
}

.enemyChar {/*
	flex: 1;*/
/*	align-self: flex-end;
*/}

.img {
	max-width: 250px;
}

